@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jaro:opsz@6..72&family=Lilita+One&family=Sarala:wght@400;700&family=Seymour+One&family=Sigmar&family=Ultra&display=swap');

.title {
    font-size: 65px;
    font-weight: bold;
    font-family: "Lilita One", sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.h1 {
    font-size: 28px;
    font-weight: bold;
    color: #2e2e2f;
    text-align: left;
    margin-bottom: 10px;
}

.h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2e2e2f;
    text-align: right;
    margin-bottom: 10px;
}

.divider {
    border: none;
    border-top: 1px solid #a8a8a8;
    margin: 0.5rem 0;
    width: 100%;
}

/* Grade Button */
.st-key-grade_button button {
    background-color: #3f3ff7 !important;
    color: white !important;
    border: 2px solid #616163 !important;
    padding: 10px 10px !important;
    font-size: 18px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3) !important;
    margin-top: -20px;
}

.st-key-grade_button button:hover {
    background-color: #0808a7 !important;
    color: white ;
}

/* Download Button */
.st-key-download_button button {
    background-color: #3f3ff7!important;
    color: white !important;
    border: 2px solid #616163 !important;
    padding: 10px 10px !important;
    font-size: 16px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3) !important;
    margin-top: 10px;
}

.st-key-download_button button:hover {
    background-color: #0808a7 !important;
    color: white ;
}

.metric-card {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 15px auto; 
    width: 100%; 
    max-width: 250px; 
}

.metric-card:hover {
    transform: translateY(-8px); 
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2); 
}

.metric-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
}

.metric-value {
    font-size: 2.5em;
    font-weight: bold;
    color: #5555f3;
}




